
.highlighting {
    background-color: $highlight;
}

h2 {
    margin-bottom:2rem;
}
h3 {
    color:$grey;
}
h4 {
    margin-bottom:1rem;
}

.txt-error {
    color:$red;
}

.jumbotron {
    margin: 5rem auto;
    min-width: 30rem;
}